{% extends "base.html" %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block title %} About {% endblock title %}

{% block body %}

<style>
  .custom-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px; 
  }
  
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
  }

  @media (min-width: 1200px){
    body{
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      margin: 0;
    }
    .card-deck{
      max-width: 1200px;
      margin: 0 auto;
      padding: 25px;
    }
    .custom-card{
      flex-basis: calc(33.33% - 30px);
    }
  }
</style>

  <div class="container-fluid my-5 p-5">
    <h2 class="text-center"> How It works </h2>

    <div class="card-deck">

      <div class="custom-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/500x300/?headphones,music,producing" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Upload</h5>
            <p class="card-text">Upload the audio file you wish to convert.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/500x300/?artificial,Inteligence,robot" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Convert</h5>
            <p class="card-text">Hit convert button and wait for AI to speak or sing your file.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/500x300/?songartists,popular" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Download</h5>
            <p class="card-text">The Ai has now recorded the audio and is ready for download.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

{% endblock body %}
