{% extends "base.html" %}

{% block conversionactive %} active {% endblock conversionactive %}
{% block title %} Conversion {% endblock title %}

{% load static %}

{% block body %}
<style>
/* Your existing CSS styles here */
</style>

<div class="container-fluid margin-container" style="padding-top: 120px;">
    <h2>Convert Audio File</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Add a dropdown for selecting the speaker -->
        <label for="ai_model">Select Speaker:</label>
        <select class="form-select" name="ai_model" id="ai_model">
            <option value="tamil_female">Tamil Female</option>
            <option value="assamese_male">Assamese Male</option>
            <option value="random">Random</option>
            <!-- Add more options for other speakers -->
        </select>

        <button type="submit" class="btn btn-primary custom-button0">Convert File</button>
    </form>

    {% if uploaded_file_name %}
    <p>Uploaded File: {{ uploaded_file_name }}</p>
    {% endif %}

    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}

    {% if processed_data %}
    <h2>Audio Conversion Results</h2>
    <p>Uploaded File: {{ uploaded_file_name }}</p>
    <p>Selected Speaker: {{ selected_speaker }}</p>
    <p>Generated Audio File: {{ output_audio_filename }}</p>
    <p>Processed Data: {{ processed_data }}</p>
    <!-- Add more fields as needed -->

    <!-- audio player -->
    <audio controls>
        <source src="data:audio/wav;base64,{{ base64_audio_data }}">
        Your browser does not support the audio element.
    </audio>
    

        <!-- download link 
        <p><a href="{{ output_audio_url }}" download>Download Converted Audio</a></p>-->

    {% endif %} 
        

    {% if status_message %}
    <div class="status-message">
        {{ status_message }}
    </div>
    {% endif %}
</div>
{% endblock body %}
